body {
  padding: 0 1em;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  overflow-x: hidden;
}

.ui-dialog {
  width: 252px !important;
  -webkit-transform: translateX(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  left: 50% !important;
}

.btn-primary:active:focus {
  outline: none;
}

.result {
  margin-left: 0;
}

.upload {
  margin-left: 0;
}

.upload h2 {
  display: none;
}

.upload .img-thumbnail {
  max-height: auto;
}

.upload .receipt-photo {
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.upload .receipt-photo .btn-danger {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  background-color: #3abeed;
  border-color: #3abeed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.upload .receipt-photo .btn-danger:before, .upload .receipt-photo .btn-danger:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  right: 4px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.upload .receipt-photo .btn-danger:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.upload .choose-file {
  font-size: 16px;
  color: #2e6da4;
  text-decoration: underline;
  padding: 0;
  background: transparent;
  border: 0;
}

.upload .choose-file input {
  display: none;
}

.upload .choose-file:active:hover {
  background-color: #ffffff;
  color: #fff;
}

.upload .upload-main,
.upload .upload-sample {
  padding: 0 !important;
}

.upload #upload {
  font-family: "TT Limes Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px 25px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background-color: #fff042;
  color: #005597;
}

body ::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #2b9bd4;
  border-radius: 5px;
}

body ::-webkit-scrollbar-thumb {
  background-color: #fff;
  width: 15px;
  border-radius: 5px;
}

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: content-box;
  padding-right: 10%;
  background: #3abeed;
}

.tutorial h1 {
  display: none;
}

.tutorial .simple-photo-block {
  text-align: center;
}

.tutorial .simple-photo-block img {
  max-height: auto;
}

.tutorial .btn {
  font-family: "TT Limes Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px 25px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background-color: #fff042;
  color: #005597;
}

footer {
  display: none;
}
