@font-face {
    font-family: 'TT Limes Sans';
    src: url('TTLimesSans-Regular.woff2') format('woff2'),
        url('TTLimesSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Limes Sans';
    src: url('TTLimesSans-Bold.woff2') format('woff2'),
        url('TTLimesSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

